    <div class="uk-animation-slide-bottom {{unless active 'uk-animation-reverse'}} uk-child-width-1-4@l uk-child-width-1-1@m uk-margin-auto-vertical" uk-grid uk-height-match target='> div > .uk-card'>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h1 class="">Tour One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh tellus molestie nunc non blandit massa enim. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. At varius vel pharetra vel turpis nunc. Morbi tristique senectus et netus et malesuada fames ac turpis. Risus commodo viverra maecenas accumsan lacus vel. Neque gravida in fermentum et sollicitudin. Ac tortor dignissim convallis aenean et tortor. Donec et odio pellentesque diam volutpat. Pulvinar elementum integer enim neque volutpat ac. Neque ornare aenean euismod elementum nisi quis eleifend quam. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Egestas integer eget aliquet nibh praesent tristique. Id diam maecenas ultricies mi eget mauris pharetra. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.</p>
                {{#uk-button color='primary'}}Start Tour{{/uk-button}}
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h1 class="">Tour Two</h1>
                <p>Aliquet bibendum enim facilisis gravida neque convallis a. Ut morbi tincidunt augue interdum velit euismod. Nunc mattis enim ut tellus elementum sagittis vitae et. Fringilla ut morbi tincidunt augue interdum velit euismod. Faucibus et molestie ac feugiat sed lectus vestibulum mattis. Tristique senectus et netus et malesuada fames. Pellentesque id nibh tortor id aliquet lectus proin nibh. Habitasse platea dictumst quisque sagittis. Purus sit amet luctus venenatis lectus magna fringilla urna porttitor. Cursus metus aliquam eleifend mi in nulla posuere sollicitudin. A cras semper auctor neque vitae tempus quam. Pharetra sit amet aliquam id diam maecenas ultricies. Odio tempor orci dapibus ultrices in iaculis nunc sed. Auctor eu augue ut lectus arcu bibendum at varius vel.</p>
                {{#uk-button color='primary'}}Start Tour{{/uk-button}}
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h1 class="">Tour Three</h1>
                <p>Nam aliquam sem et tortor consequat id porta. Nunc non blandit massa enim nec dui. Sit amet nisl purus in mollis nunc sed id semper. At auctor urna nunc id cursus metus aliquam. Cursus vitae congue mauris rhoncus. Pharetra et ultrices neque ornare aenean euismod elementum. Facilisis gravida neque convallis a cras semper auctor. Eget mauris pharetra et ultrices neque ornare aenean. Elit duis tristique sollicitudin nibh. Ut ornare lectus sit amet est placerat in egestas. Nulla at volutpat diam ut venenatis tellus in metus. Libero enim sed faucibus turpis in eu. Tristique senectus et netus et malesuada fames. Ut tellus elementum sagittis vitae. Bibendum arcu vitae elementum curabitur vitae nunc sed. Nam libero justo laoreet sit amet cursus sit amet. Ut tortor pretium viverra suspendisse potenti nullam. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu.</p>
                {{#uk-button color='primary'}}Start Tour{{/uk-button}}
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h1 class="">Tour Four</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh tellus molestie nunc non blandit massa enim. Nisl suscipit adipiscing bibendum est ultricies integer quis auctor elit. At varius vel pharetra vel turpis nunc. Morbi tristique senectus et netus et malesuada fames ac turpis. Risus commodo viverra maecenas accumsan lacus vel. Neque gravida in fermentum et sollicitudin. Ac tortor dignissim convallis aenean et tortor. Donec et odio pellentesque diam volutpat. Pulvinar elementum integer enim neque volutpat ac. Neque ornare aenean euismod elementum nisi quis eleifend quam. Mollis aliquam ut porttitor leo a diam sollicitudin tempor. Egestas integer eget aliquet nibh praesent tristique. Id diam maecenas ultricies mi eget mauris pharetra. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt.</p>
                {{#uk-button color='primary'}}Start Tour{{/uk-button}}
            </div>
        </div>
    </div>
    <div class='uk-width-1-1'>{{#uk-button color='danger' on-click=hide}}Back to painting{{/uk-button}}</div>
</div>
