{{!-- {{#if bounds}}
  <div class='uk-offcanvas-content'>
    {{yield}}
    {{#if edit}}
      {{#edit-quad model=model reCenter=(action 'reCenter') highlight=(action 'highlightPoi') managePois=managePois}}    
      {{/edit-quad}}
    {{else}}
      {{#view-quad model=model reCenter=(action 'reCenter') highlightPoi=(action 'highlightPoi')}}
      {{/view-quad}}
    {{/if}}

    {{#if model.painting}}
      {{#leaflet-map
        onLoad=(action 'initMap')
        onResize=(action 'reSize')
        bounds=bounds
        zoomSnap=0
        bounceAtZoomLimits=false
        maxBoundsViscosity=1.0
        crs=crs
        bounceAtZoomLimits=false
        zoomControl=false
        onZoomend=(action 'zoomend')
        class='painting'
      as |features|}}

        {{image-layer
          url=model.painting
          bounds=bounds
          onLoad=(action 'setPainting')
        }}

        {{painting-pois
          pois=model.pois
          activePoi=activePoi
          editing=edit
          highlight=(action 'highlightPoi')
        }}

      {{/leaflet-map}}
    {{/if}}
  </div>
{{/if}} --}}
