@import 'ember-uikit';
@import 'mini-map';

.painting-container {
  height: 67vh;
}

.leaflet-container {
  background: #848380;
  height: 90vh;
  left: 0;
  position: absolute;
  top: 10vh;
  transition: width;
  width: 100%;

  &.leaflet-control-minimap {
    margin-bottom: 125px;
  }
}

.uk-navbar-container {
  background: #332E29 !important;
  height: 10vh;

  img {
    height: 5vh;
  }

  h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    // font-size: 75px;
    text-transform: uppercase;

    .site-title {
      color: #DFE0E1;
    }

    .sub-title {
      color: #688EAB;
    }
  }
}

// .thumb-nav {
//   // height: 0;
//   // width: 100vw;
// }

.thumb-nav {
  height: 10vh;
}

.with-nav {
  .leaflet-container,
  .fullscreen {
    height: 67vh;
  }

  .uk-thumbnav {
    height: 33vh;
  }
}

.uk-offcanvas-content {
  height: 90vh;
}

.uk-offcanvas-bar {
  width: 33vw;
}

.uk-open {
  width: 33vw;
}

@media (min-width: 960px) {
  :not(.uk-offcanvas-flip) > .uk-offcanvas-content-animation {
    left: 33vw;
  }
}

.uk-overlay-default {
  p {
    color: #666;
  }
}

.uk-navbar-right {
  .fa {
    font-size: 2.5em;
  }
}

.bottom-nav {
  background: #332E29;
  height: 23vh;
}

.cyc-tabs {
  background: #848380;
  justify-content: center;
  width: 100%;

  .uk-active {
    background: #332E29;
  }

  li {
    color: white;
    font-size: 1.75em;
    text-transform: uppercase;
  }
}

.leaflet-control-attribution {
  display: none;
}
