@import 'ember-uikit';
@import 'mini-map';

$dot-offset: 40px;
$green: rgba(0,230,1, 1);

body {
  height: 100vh;
  overflow: hidden;
}

.painting-container {
  height: 85vh;
  width: 100vw;
}

.leaflet-container {
  background: #848380;
  height: 85vh;
  left: 0;
  position: absolute;
  transition: width;
  width: 100%;

  &.leaflet-control-minimap {
    margin-bottom: 125px;
  }
}

.uk-navbar-container {
  background: #332E29 !important;
  height: 15vh;
}


.uk-offcanvas-content {
  height: 85vh;
}

.uk-offcanvas-bar {
  width: 33vw;
}

.uk-open {
  width: 33vw;
}

@media (min-width: 960px) {
  :not(.uk-offcanvas-flip) > .uk-offcanvas-content-animation {
    left: 33vw;
  }
}

.uk-overlay-default {
  p {
    color: #666;
  }
}

.uk-navbar-right {
  .fa {
    font-size: 2.5em;
  }
}

.bottom-nav {
  background: #332E29;
  height: 15vh;
}

.leaflet-control-attribution {
  display: none;
}

.poi-nav,
.ahc-logo {
  height: 15vh;
}

.poi-nav {
  .poi-nav-button {
    color: white;
    cursor: pointer;
    opacity: .3;

    img {
      height: 90px;
      width: 90px
    }

    // div {
    //   color: #FFFFFF;
    //   height: 10vh;
    //   opacity: .3;
    //   width: 10vh;

      &.active-poi {
        opacity: 1;
      }
    // }

    p {
      font-size: 1.5em;
      text-transform: uppercase;
    }
  }
}

// Hide leaflet default div.
.leaflet-marker-icon {
  &.leaflet-interactive {
    background: none;
    border: none;
  }
}
// $pulse-distance: 2vw;

// .pulse {
//   display: block;
//   width: 22px;
//   height: 22px;
//   border: solid;
//   border-radius: 50%;
//   border-color: rgba(0,230,1, 1);
//   background: rgba(0,230,1, 1);
//   cursor: pointer;
//   box-shadow: 0 0 0 rgba(0,230,1, 0.7);
//   animation: pulse 2s infinite;
// }
// .pulse:hover {
//   animation: none;
// }

// @keyframes pulse {
//   0% {
//     -moz-box-shadow: 0 0 0 0 rgba(0,230,1, 0.7);
//     box-shadow: 0 0 0 0 rgba(0,230,1, 0.7);
//   }
//   70% {
//       -moz-box-shadow: 0 0 0 $pulse-distance rgba(0,230,1, 0);
//       box-shadow: 0 0 0 $pulse-distance rgba(0,230,1, 0);
//   }
//   100% {
//       -moz-box-shadow: 0 0 0 0 rgba(0,230,1, 0);
//       box-shadow: 0 0 0 0 rgba(0,230,1, 0);
//   }
// }


.jesse-dot {
  display: block;  
  height: 100px;
  left: -$dot-offset;
  position: absolute;
  top: -$dot-offset;
  width: 100px;
}

.dot {
  width: 20px;
  height: 20px;
  position: relative;
  top: 38px;
  left: 38px;
  background: rgba(5, 124, 255, 1);    
  border: 2px solid #FFF;
  border-radius: 50%;
  z-index: 1000;
}

.pulsate-ring {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  display: block;
  background: rgba(5, 124, 255, 0.6);
  border-radius: 50%;
  opacity: 0;
  animation: pulsate 2400ms ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
