/**
* Quarter Circles
*/

.pan-controls {
	position:relative;
	width: 8vh;
	height: 8vh;
	margin:0 auto;
	transform: rotate(45deg);
    color: white;
}

.quarter {
  cursor: pointer;
	position:absolute;
	width:50%;
	height:50%;
  transition:background-color 0.2s ease-in-out;

  span {
    color: white;
    font-size: 1.5vw
  }

  &:focus,
  &:hover {
    background-color:#1E1E1E;
    outline: none;
  }
}

.quarter1 {
	top:0;
	left:0;
	background-color:#333;
	border-radius:100% 0 0 0;
}
.quarter2 {
	top:0;
	right:0;
	background-color:#333;
	border-radius:0 100% 0 0 ;
}
.quarter3 {
	bottom:0;
	left:0;
	background-color:#333;
	border-radius:0 0 0 100%;
}
.quarter4 {
	bottom:0;
	right:0;
	background-color:#333;
	border-radius:0 0 100% 0 ;
}
.cutout {
	width:50%;
	height:50%;
	background-color:white;
	position:absolute;
	top:25%;
	left:25%;
	border-radius:50%;
	pointer-events:none;
}
.button {
	transform: rotate(-45deg);

}