@import 'ember-uikit';
@import 'mini-map';
@import 'leaflet.pm';
@import 'pan-controls';

$dot-offset: 40px;
$green: rgba(0,230,1, 1);

body {
  height: 100vh;
  overflow: hidden;
}

.leaflet-container {
  background: none;
  height:85vh;
  left: 0;
  position: absolute;
  right: 0;
  // top: 0;
  // transition: width .3s ease-in-out;
  transform: translateX(0);
  transition: all .3s ease-out;
  width: 100vw;

  &.painting {
    .leaflet-pane {
      transform-origin: right;
    }
  }
}

// .edit-view {
//   .leaflet-container {
//     height: 100vh;
//   }
// }

body,
.leaflet-control-minimap {
  // background: linear-gradient(#809a84, #809a84 40%, #824325);
  background: #504131;
  font-size: 18px;
}



.uk-offcanvas-content {
  height: 100vh;
}

.uk-offcanvas-bar {
  width: 50vw;
}

.uk-open {
  &.uk-offcanvas {
    width: 50vw;
  }
}

@media (min-width: 960px) {
  :not(.uk-offcanvas-flip) > .uk-offcanvas-content-animation {
    left: 50vw;
  }
}

.uk-overlay-default {
  p {
    color: #666;
  }
}

.bottom-nav {
  // position: relative;
  width: 100%;
  z-index: 999;

  &.uk-grid {
    height: 15vh;
    position: absolute;
    width: 100%;
    bottom: 0;
    // top: 85vh;
  }

  // img {
  //   height: 8vh;
  // }
}

.leaflet-control-attribution {
  display: none;
}

.ahc-logo {
  left: 50px;
  opacity: .6;
  position: relative;
  top: 50px;
  z-index: 999;
}

.bottom-nav {
  // height: 15vh;
  .poi-nav-button {
    color: white;
    cursor: pointer;
    // font-size: 2vw;

    img {
      animation: psst 10000ms ease-out infinite;
      height: 8vh;
      width: 8vh;
      opacity: .3;
    }

    p {
      font-size: 1vw;
      opacity: .7;
      text-transform: uppercase;
    }

      &.active-poi {
        img {
          animation: none;
          opacity: 1;  
        }
      }
  }
}

// Hide leaflet default div.
.leaflet-marker-icon {
  &.leaflet-interactive {
    background: none;
    border: none;
  }
}


.jesse-dot {
  display: block;  
  height: 100px;
  left: -$dot-offset;
  position: absolute;
  top: -$dot-offset;
  width: 100px;
}

.dot {
  width: 20px;
  height: 20px;
  position: relative;
  top: 25px;
  left: 25px;
  border: 2px solid #FFF;
  border-radius: 50%;
  z-index: 1000;
}

.pulsate-ring {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  display: block;
  background: rgba(5, 124, 255, 0.6);
  border-radius: 50%;
  opacity: 0;
  animation: pulsate 2400ms ease-out infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: .7;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes psst {
  0% {
    opacity: .3;
  }
  50% {
    opacity: .6;
  }
  100% {
    opacity: .3;
  }
}

.uk-slider-items {
  img {
    // height: 400px;
    // width: 25vw;
  }
}

.description {
  p {
    font-size: 1.5em;
  }
}

.tour-menus {
  display: block;

  .uk-button-large {
    font-size: 3rem;
    line-height: 6rem;

    .svg-inline--fa.fa-w-16 {
      width: .7em;
    }
  }
}

.uk-card-media-top{
  filter: grayscale(100%);
}

.gallery-arrow {
  font-size: 8em;
}

.uk-dotnav {
  a {
    height: 1.5em;
    width: 1.5em;
  }
}

.uk-button-secondary {
  background-color: lightgray;
  color: black;
  font-size: 21m;
  opacity: .7;
}

.tour-heading {
  color: white !important;
  // letter-spacing: .25em;
  text-transform: uppercase;
}

.tour-button {
  border-left: solid;
  border-right: solid;
}

.poi-detail-content {
  height: 90%;
}

.poi-detail-nav {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.leaflet-interactive {
  &.uk-animation-fade {
    animation-duration: 0.3s;
  }
}

.poi-wysiwyg,
.caption-wysiwyg {
  outline: auto;
}

.caption-wysiwyg {
  .pell-content {
    height: auto;
  }
}

form {
  img {
    height: auto;
    max-height: 300px;
    max-width: 300px;
    width: auto;
  }
}
