    <div class="uk-animation-slide-bottom {{unless active 'uk-animation-reverse'}} uk-child-width-1-4@l uk-child-width-1-1@m uk-margin-auto-vertical" uk-grid uk-height-match target='> div > .uk-card'>
        <header class='uk-width-1-1 uk-text-center'>
            <h1 class='uk-text-primary uk-heading-hero tour-heading'>These Are Tours!</h1>
        </header>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h2 class="">Tour One</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h2 class="">Tour Two</h2>
                <p>Aliquet bibendum enim facilisis gravida neque convallis a. Ut morbi tincidunt augue interdum velit euismod. Nunc mattis enim ut tellus elementum sagittis vitae et.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h2 class="">Tour Three</h2>
                <p>Nam aliquam sem et tortor consequat id porta. Nunc non blandit massa enim nec dui. Sit amet nisl purus in mollis nunc sed id semper. At auctor urna nunc id cursus metus aliquam.</p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top uk-cover-container uk-height-large">
                <img uk-cover src="https://battleofatlanta.digitalscholarship.emory.edu/media/tours/Unknown_1400x0.jpeg" alt="">
            </div>
            <div class="uk-card-body">
                <h2 class="">Tour Four</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nibh tellus molestie nunc non blandit massa enim.</p>
            </div>
        </div>
    </div>
    <div class='uk-width-1-1 uk-text-center'>
        {{#uk-button size='large' color='primary' on-click=hide}}
          {{fa-icon 'undo'}} Back to painting{{/uk-button}}
        </div>
</div>
