{{cyclorama-painting}}
{{!-- <div class="uk-inline uk-width-1-1">
    <img src="../docs/images/photo.jpg" alt="">
    <div class="uk-overlay uk-overlay-primary uk-position-bottom">
        <p>Default Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div> --}}
    {{!-- <div class='uk-width-1-1 thumb-nav uk-margin'> --}}

      {{!-- <ul class='uk-thumbnav'>
      {{#each hotSpots as |hotSpot|}}
        <li class='uk-active'><img class='uk-margin' onclick={{action 'highlight' hotSpot}} src='{{hotSpot.thumbnail}}' /></li>
      {{/each}}
      </ul> --}}
    {{!-- </div> --}}
