<div class='uk-container'>
  <div class='uk-article'>
    <h1 class='uk-article-title'>Kiosks</h1>
  <ul class='uk-list'>
    <li>
      <LinkTo @route="kiosk" @model="1">Kiosk 1</LinkTo>
    </li>
    <li>
      <LinkTo @route="kiosk" @model="2">Kiosk 2</LinkTo>
    </li>
    <li>
      <LinkTo @route="kiosk" @model="3">Kiosk 3</LinkTo>
    </li>
    <li>
      <LinkTo @route="kiosk" @model="4">Kiosk 4</LinkTo>
    </li>
  </ul>
  </div>
</div>