<div class='uk-container'>
  <div class='uk-article'>
    <h1 class='uk-article-title'>Kiosks</h1>
  <ul class='uk-list'>
    <li>
      {{#link-to 'kiosk' '1'}}Kiosk 1{{/link-to}}
    </li>
    <li>
      {{#link-to 'kiosk' '2'}}Kiosk 2{{/link-to}}
    </li>
    <li>
      {{#link-to 'kiosk' '3'}}Kiosk 3{{/link-to}}
    </li>
    <li>
      {{#link-to 'kiosk' '4'}}Kiosk 4{{/link-to}}
    </li>
  </ul>
  </div>
</div>